[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyairtable = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_specific_version = "3.12.6"