#cardSpill {
    display: flex;
    flex-wrap: wrap;

    .card {
        flex-basis: 400px;
        margin: 1em;
        padding: 1em;
        background-color: #ccc;
        font-family: "Benton Sans",Helvetica,Arial,sans-serif;

        h4 {
            margin-top: 0;
        }
    }    
}



.card .mentalSwatch {
    background-color: #fff !important;
    color: #999 !important;
    font-size: .8em;
    padding: 2px 6px 2px 6px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
    display: none !important;
}

.url {
    font-weight: 900;
    padding-left: 6px !important;
}

.rightSide {
    border: 0 solid #eee;
    width: 100% !important;
    height: auto;
    overflow: hidden;
    background-size: cover;
}

.photos {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    text-align:center;
}

.photo img {
    max-width: 100%;
    width:230px;
    text-align:center;
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
}

.break {
    clear: both;
}

.description {
    font-weight: bold;
}

.name {
    font-size:15px;
    font-weight:bold;
}

.hidden {
    display:none;
}

.expand, .x {
    font-size: 30px;
    float: right;
}

.expand:hover, .x:hover {
    cursor:pointer;
    opacity:0.8;
}

.readmore, .readmore a {
    text-align: left;
    width: 100%;
    text-decoration: none;
    color: #b75b60;
    font-weight: bold;
    font-size: 15px;
}

.scrollTop, .scrollTop a {
    text-decoration: none;
    color:#333;
    font-size: 15px;
}

.weapon, .region {
    visibility:hidden;
}