.vizToggle {
    width:32.5%;
}
.viz:focus{
    background-color:red;
}
.viz {
    display:none;
    height:500px;
}
#chart {
    display:block
}

.minichart {
    width:49.4%;
    display:inline-block;
    margin-bottom:12px !important;
}
.minichart:hover {
    cursor:pointer;
    opacity:0.8;

}
.miniTitle {
    font-weight: bold;
}
.statlabel {
    font-size:15px;
    color: #b75b60;
}
.mnlabel {
    font-size:15px;
    color: #888;
}
.countstat {
    font-weight: bold;
}
.cline {
    height:5px;
    width:5px;
    background-color: #b75b60;
}
.sline {
    height:5px;
    width:5px;
    background-color: #888;
}